.btnCalc {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
}

input {
    width: 15%;
    padding: 6px 10px;
    border: 2px solid red;
    border-radius: 6px;
    margin: 6px;
}